<main>
    <div class="main-description">
        <div class="main-description__item"><p>Определение нужного направления</p></div>
        <div class="main-description__item"><p>Различные способы развития</p></div>
        <div class="main-description__item"><p>Развитие в своём направлении</p></div>
    </div>
    <div class="main-directions">
        <div class="main-directions__title">Направления</div>
        <div class="main-directions__container">
            <a class="main-direction" href="/directions.html">
                <div class="main-direction__title">Инженерное</div>
                <img class="main-direction__icon" src='http://tor-obr.ru/imgs/direction-icon-1615557501.png'>
            </a>
            <a class="main-direction" href="/directions.html">
                <div class="main-direction__title">Медицинское</div>
                <img class="main-direction__icon" src='http://tor-obr.ru/imgs/direction-icon-1615557645.png'>
            </a>
            <a class="main-direction" href="/directions.html">
                <div class="main-direction__title">Юридическое</div>
                <img class="main-direction__icon" src='http://tor-obr.ru/imgs/direction-icon-1615557717.png'>
            </a>
        </div>
        <a class="go-to-directions" href="/directions.html">Перейти к направлениям</a>
    </div>
</main>