<footer>
    <div class="footer-container1">
        <div class="footer-container3">
            <a class="privacy" href='/files/privacy.txt' download>Политика конфиденциальности</a>
            <div class="copyright">2021 Типология образовательных ресурсов</div>
        </div>
        <div class="social-links">
            <a class="social-link__vk" href="https://vk.com/tor_obr">{{Icon iconName='vk'}}</a>
        </div>
    </div>
    <div class="footer-container2">
        <a class="user-agreement" href='/files/user_agreement.txt' download>Пользовательское соглашение</a>
        <div class="footer-email">support@tor-obr.ru</div>
    </div>
</footer>