main.resource {
    min-height: calc(100vh - 2px - #{$header-height} - #{$footer-height});
    background: url('%=static=%general/background.png');
    padding: 1px;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-height: 880px) {
    main.resource {
        min-height: calc(100vh - 2px - #{$header-height} + 30px - #{$footer-height} + 30px);
    }
}
.resource__images {
    margin-top: 50px;
    width: 300px;
}
.resource__images img {
    width: 300px;
    display: block;
    margin-top: 50px;
}
.resource__description {
    width: 800px;
}
.resource__description-title {
    @include base-block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    width: 200px;
    color: hsl(0, 0%, 100%);
}
.resource__description-text {
    margin-top: 10px;
    @include base-block;
    background-color: hsl(0, 0%, 100%);
    line-height: 1.5em;
}