<div class="resources">
    <a href="#support-window" rel="modal:open" class="resources__offer-resource">Предложить ресурс</a>
    <div class="categories">
        <div class="categories__title">Категории: </div>
        <div class="categories__container">
            <!-- <div class="category">
                <div class="category__title">Смотрины</div>
                <img class="category__icon">
            </div> -->
        </div>
    </div>
    <div class="resources__search">
        <div class="query">
            <div class="query__title">Поиск:</div>
            <input type="text" class="query__input">
        </div>
        <div class="age">
            <div class="age__title">Диапазон возраста:</div>
            <div class="age-input">
                <input type="text" class="age-input__min">
                <p>-</p>
                <input type="text" class="age-input__max">
            </div>
        </div>
        <button class="resources__search-button">Искать</button>
    </div>
    <div class="resources__title">Ресурсы: </div>
    <div class="resources__container">
        <!-- <a class="resource" href="/resource.html">
            <div class="resource__header">
                <img class="resource__icon" src="">
                <div class="resource__age">Возраст: 10-18</div>
            </div>
            <div class="resource__title">Экскурсия по автозаводу на базе туристического агенства Double-travel</div>
        </a> -->
    </div>
</div>